@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'roboto3';
  src: url('./assets/fonts/Roboto/Roboto-BlackItalic.ttf');
}

@font-face {
  font-family: 'roboto2';
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'lato';
  src: url('./assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Open_Sans';
  src: url('./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: 'Play Fair';
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

.roboto-font{
  font-family: 'roboto';
}

.roboto-font2{
  font-family: 'roboto2';
}

.roboto-font3{
  font-family: 'roboto3';
}

.lato-font{
  font-family: 'lato';
}

.montserrat-font{
  font-family: 'Montserrat';
}

.open-sans-font{
  font-family: 'Open_Sans';
}

.playfair-font{
  font-family: 'Play Fair';
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.loader {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: #ffffff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 0.6s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}